body {
	background-color: bisque;
}

*{
	text-align: center;
}

h1{
	color:floralwhite;
}

@media screen and (min-width: 480px) {
    body {
        background-color: black;
        color:black;
    }
}
@media screen and (min-width: 768px) {
    body {
      background-color: tan;
    }
